<%= render 'shared/navbar_main' %> 
<div class="banner-events">
</div>
<div class="events-page-content">
	<div class="events-page-wrapper">
		<div class="green-line"></div>
		<div class="intro-text text-center events-para padded container fadeIn">
			<h2>Private and Corporate Events</h2>
			<p>Pinkney Park offers facilities for parties, weddings, meetings, conferences and training courses. We have two large rooms (20ft x 40ft and 30ft x 15ft) and plenty of space for marquees.
			<br></br>
			Catering can be tailored for all individual needs. We can vary the menus from summer pool or <br>riverside barbeques to five course dinners.
			</p>
			<div class="events-buttons">
				<%= link_to "ACTIVITY DAYS", "#activity-days", class: "events-button", id: "eventsbutton" %>
				<%= link_to "FILMING & PHOTOSHOOTS", "#filming", class: "events-button", id: "eventsbutton" %>
				<%= link_to "CRICKET PITCH", "#cricket", class: "events-button", id: "eventsbutton" %>
			</div>
		</div>
		<div class="events-wrapper fadeIn">
			<div class="">

			<!-- ACTIVITY DAYS -->
				<div class="activity-days" id="activity-days">
					<div class="activity-days-box text-center">
						<h4>Activity Days</h4>
						<p>The 150 acres of rolling parkland and woodland provide an excellent venue for many types of entertainment. We hold many outdoor “activity days” when specialist companies bring a wide variety of sports and pastimes. 
						<br></br>
						These activities include:
						<br></br>
						Training Days<br>
						Product Launches<br>
						Team Building Days<br>
						Company Family Days<br>
						Clay Pigeon Shooting<br>
						Hen and Stag Do's<br>
						Summer Outdoor Parties<br>
						Archery<br>
						Hot Air Ballooning<br>
						Falconry<br>
						Camping and many more...
						<br></br>
						There are also large areas of flat lawns ideal for marquees, product launches and parking.
				 		</p><div id="filming"></div>
					</div>
					<div class="activity-days-collage">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495461074/shooting_k1746y.jpg", class: "activity-image") %>
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495461074/boating_ceszse.jpg", class: "activity-image act-img-2") %>
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495461074/hut_zvznxm.jpg", class: "activity-image") %>
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482508/activity-days-small3_ldxnqu.jpg", class: "activity-image act-img-4") %>
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482509/activity_days_big_eki6em.jpg", class: "activity-image-last") %>
					</div>
				</div>

			<!-- FILMING & PHOTOSHOOTS -->
				<div class="filming-photoshoots">
					<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488485305/Filming_photoshoots_mgismb.jpg", class: "filming-photoshoots-image") %>
					<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488485094/Filming_photoshoots2_cfgh5u.jpg", class: "filming-photoshoots-image filming-img-small") %>
					<div class="filming-photoshoots-box text-center">
						<h4>Filming & Photoshoots</h4>
						<p>The stunning gardens, grounds, walled garden, tree lined carriage drive, river and historic Cotswold properties make for an ideal location for photo shoots and filming.</p>
					</div>
				</div>

			<!-- CRICKET SECTION -->
				<div class="cricket-section text-center">
					<div class="text-center" id="cricket">
						<div class="cricket-content">
						    <h4>Cricket Pitch</h4>
						    <p>We have a private cricket ground available for hire. There is a well-appointed pavilion with showers and loos, 2 practice nets, sight screens and covers. 
							<br>
							The pitch is the ideal venue for private, inter office or company matches.</p>
						</div>
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1501859389/cricket-big_xt9awb.jpg", class: "cricket-image") %>
					</div>
					<div class="cricket-collage">
						<div class="cricket-collage-images">
							<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495457927/cricketnets_pxdjfl.jpg") %>
							<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1501859375/cricket_middle_bblq9k.jpg", class: "cricket-collage-image middle-image") %>
							<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495457927/pavillion_zotady.jpg") %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= render 'shared/please_call' %>
		<%= render 'shared/footer' %>
	</div>
</div>