<%= render 'shared/navbar_main' %>
<div class="text-center container fadeIn gallery-title">
	<h2>Gallery</h2>
</div>
<div class="gallery-wrapper">
	<div class="gallery-collage fadeIn">
		<div id="photos">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494229439/DSC02841_sd5tfg.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494076647/Untitled-1_kgjgm1.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494072465/IMG_2466_fqnumq.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494052889/IMG_2573_xf0bal.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494073107/Untitled_oulgwk.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494229428/IMG_2210_bbkjpw.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494229435/IMG_2220_mtzw3p.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494072462/IMG_2472_bk791i.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494231334/DSC02931_y2zos1.jpg") %>			
		</div>
		<div id="photos-2">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494229434/IMG_2271_klqt9l.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494231331/DSC02932_zygodt.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495399622/IMG_2237_cos0au_2copy_xkfw4c.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494231316/DSC02827_cqsua0.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494233819/Untitled_nvehbc.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495401582/b_gv3kzk.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494072465/IMG_2473_r7xbt7.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494229429/IMG_2846_wux2hy.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494231338/DSC02875_wr3zsx.jpg") %>			
		</div>
		<div id="photos-3">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495399622/IMG_2237_cos0au_qcopy_wwsn4e.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495400965/k_bnnrxt.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495399622/IMG_2237_cos0au_copy_fl9ob0.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495400965/DSC028_wpmu59.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494075851/Untitled_qid9oe.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495400287/IMG_2237_cos0aqu_copy_pbau5w.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495399621/j_peyk3x.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495400287/IMG_2237_cos0au_1copy_ponfdw.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1495400964/DSC0_puj6wy.jpg") %>			
		</div>
	</div>
</div>
<%= render 'shared/footer' %>