<%= render 'shared/navbar_main' %>
<div class="text-center container fadeIn gallery-title">
	<h2>Gallery</h2>
</div>
<div class="gallery-wrapper">
	<div class="gallery-collage fadeIn">
		<div id="photos">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494073792/landing-box-stay_jma8dg_olww3r.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494076647/Untitled-1_kgjgm1.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494072465/IMG_2466_fqnumq.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494052889/IMG_2573_xf0bal.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494074884/Untitled_hnw4p5.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494072465/IMG_2473_r7xbt7.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494073107/Untitled_oulgwk.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494072462/IMG_2472_bk791i.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494052892/IMG_2580_zmn2dg.jpg") %>			
		</div>
		<div id="photos">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494073792/cricket-nets_ubm3xo_pjaigg.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494052892/IMG_2580_zmn2dg.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494075851/Untitled_qid9oe.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494052889/IMG_2573_xf0bal.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494074884/Untitled_hnw4p5.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494073107/Untitled_oulgwk.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494074884/Untitled_hnw4p5.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494073791/contact_bs6i74_emlbk9.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1494052889/IMG_2573_xf0bal.jpg") %>			
		</div>
	</div>
</div>
<%= render 'shared/footer' %>