<%= render 'shared/navbar_landing' %>
<div class="banner-landing banner-border-btm">
	<div class="banner-content">
	    <%= image_tag "PinkneyPark-logo.png", class: "logo fadeIn hidden-xs" %>
	    <%= image_tag "PinkneyPark-logo-small.png", class: "logo-small fadeIn hidden-sm hidden-md hidden-lg hidden-xl" %>
	    <div class="landing-buttons"> 	
	    	<%= link_to "STAY AT PINKNEY", stay_path, class: "landing-button fadeIn hidden" %>
	    	<%= link_to "PLAN AN EVENT", events_path, class: "landing-button fadeIn hidden" %>
	    </div>
	</div>
</div>
<%= link_to "#welcome" do %>
	<%= image_tag "PinkneyPark-arrow-down.png", class: "arrow-down fadeIn hidden", id: "arrow" %>
<% end %>
<div class="green-line" id="welcome"></div>
<div class="landing-intro-text text-center padded container">
	<h1 class="landing-header fadeIn hidden">Welcome to Pinkney Park</h1>
	<p class="landing-para fadeIn hidden">Pinkney Park is a beautiful private home and estate near the village of Sherston on the Wiltshire/Gloucestershire border. Sitting in a stunning parkland setting, Pinkney Park is ideally situated in the Cotswolds Area of Outstanding Natural Beauty and has been hosting events in all shapes and sizes for 30 years.
	<br></br>
	The house and its accommodation are available for both corporate and private entertaining along with the surrounding parkland making the perfect backdrop for your own exclusive event. We have held events that range from meetings to weddings, clay pigeon shooting to team building, birthday parties to seminars and go-karting to B&B’s.
	<br></br>
	We aim to be as flexible as possible to your every need and would be delighted to discuss any ideas you might have.
	</p>
</div>
<div class="landing-wrapper">
	<div class="landing-boxes-all fadeIn hidden">
		<div class="landing-boxes text-center">
			<div class="landing-box landing-box-top-row activity-first-row">
				<%= link_to events_path(:anchor => "activity-days") do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488492472/landing-box3_br0rds.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Activity Days</h4>
					</div>
				<% end %>
			</div>
			<div class="landing-box landing-box-top-row">
				<%= link_to events_path(:anchor => "filming") do %>
					<div class="landing-box-image">
  					<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488492472/landing-box1_acfknb.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Filming & Photoshoots</h4>
					</div>
				<% end %>
			</div>
			<div class="landing-box landing-box-top-row cricket-second-row">
				<%= link_to events_path(:anchor => "cricket") do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482512/cricket-landing-box_bi30cn.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Cricket Pitch </h4>
					</div>
				<% end %>
			</div>

		
			<div class="landing-box">
				<%= link_to stay_path do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488484356/landing-box-stay_jma8dg.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Accommodation</h4>
					</div>
				<% end %>
			</div>
			<div class="landing-box weddings">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488484356/landing-box-events_pldxu5.jpg") %>
				</div>
				<div class="landing-box-text">
					<h4 id= "weddings-occasions">Weddings & Occasions</h4>
					<h6 id=weddings-hover-text>Please call us to discuss your event on <br></br>01666 840257</h6>
				</div>
			</div>
			<div class="landing-box">
				<%= link_to events_path(:anchor => "activity-days-jump") do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482518/shoot-landing-box_xatlv0.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Corporate Entertainment</h4>
					</div>
				<% end %>
			</div>
		
		
			<div class="landing-box">
				<%= link_to properties_path do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488483685/commercial-landing-box_e4wyhw.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Commercial Properties</h4>
					</div>
				<% end %>	
			</div>
			<div class="landing-box">
				<%= link_to properties_path do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488483685/resi-landing-box_s4axdl.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Residential Properties</h4>
					</div>
				<% end %>
			</div>
			<div class="landing-box">
				<%= link_to local_area_path do %>
					<div class="landing-box-image">
						<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488484355/landing-box-loc_eldiwu.jpg") %>
					</div>
					<div class="landing-box-text">
						<h4>Local Area</h4>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="blank-block"></div>
<div class="about landing-boxes-all fadeIn hidden">
	<div class="about-boxes">
		<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488486331/about_image_h41pjp.jpg", class: "about-image") %>
		<div class="about-box text-center">
			<h3>About Pinkney Park</h3>
			<p>Pinkney Park has been the home of the Matthews' family for 70 years. At the heart of a working farm, the event space and accommodation take full advantage of the outbuildings associated with the original house that was demolished in the 1950's </p>
		</div>
	</div>
</div>
<%= render 'shared/please_call' %>
<%= render 'shared/footer' %>