<%= render 'shared/navbar_landing' %>
<div class="banner-landing">
	<div class="banner-content">
	    <h1>Pinkney Park</h1>
	    <p>A family home and estate for private and corporate entertaining</p>
	    <%= link_to "STAY AT PINKNEY", "", class: "landing-button" %><%= link_to "PLAN AN EVENT", "", class: "landing-button" %>
	</div>
</div>
<div class="green-line"></div>
<div class="intro-text text-center padded container">
	<h2>Welcome to Pinkney Park</h2>
	<p>Pinkney Park is a beautiful private home and estate near the village of Sherston on the Wiltshire/Gloucestershire border. Sitting in a stunning parkland setting, Pinkney Park is ideally situated in the Cotswolds Area of Outstanding Natural Beauty and has been hosting events in all shapes and sizes for 30 years.
	<br></br>
	The house and its accommodation are available for both corporate and private entertaining along with the surrounding parkland making the perfect backdrop for your own exclusive event. We have held events that range from meetings to weddings, clay pigeon shooting to team building, birthday parties to seminars and go-karting to B&B’s.
	<br></br>
	We aim to be as flexible as possible to your every need and would be delighted to discuss any ideas you might have.
	</p>
</div>
<div class="landing-wrapper">
	<div class="container">
		<div class="landing-boxes landing-box-row-1 text-center">
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Activity Days</h4>
				</div>
			</div>
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Filming & Photoshoots</h4>
				</div>
			</div>
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Cricket Pitch</h4>
				</div>
			</div>
		</div>
		<div class="landing-boxes text-center">
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Accommodation</h4>
				</div>
			</div>
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Weddings & Occasions</h4>
				</div>
			</div>
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Corporate Entertainment</h4>
				</div>
			</div>
		</div>
		<div class="landing-boxes text-center">
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Residential Properties</h4>
				</div>
			</div>
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Commercial Properties</h4>
				</div>
			</div>
			<div class="landing-box">
				<div class="landing-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="landing-box-text">
					<h4>Local Area</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about">
	<div class="about-boxes">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png", class: "about-image") %>
		<div class="about-box text-center">
			<h4>About Pinkney Park</h4>
			<p>Pinkney Park has been the home of the Matthews' family for 70 years. At the heart of a working farm, the event space and accommodation take full advantage of the outbuildings associated with the original house that was demolished in the 1950's </p>
		</div>
	</div>
</div>
<%= render 'shared/please_call' %>