<%= render 'shared/navbar_main' %> 
<div class="banner-main">
</div>

<!-- COMMERCIAL PROPERTY PAGE -->
<div class="commercial-page">
	<div class="properties-buttons text-center">
		<div class="commercial-button text-center">
			<%= link_to "COMMERCIAL PROPERTY", "", class: "properties-button-active" %>
		</div>
		<div class="residential-button">
			<%= link_to "RESIDENTIAL PROPERTY", "", class: "properties-button" %>
		</div>
	</div>
	<div class="properties-border">
		<hr>
	</div>
	<div class="intro-text text-center container property-text">
		<h2>Commercial Property</h2>
		<p>Pinkney Park has a total of 18 office and workshop units, varying in type from Cotswold Stone barn conversions to purpose built modern buildings, and varying in size from 250 to 8000 square feet.
		<br></br>
		There are approximately 135 people employed on the site.
	 	<br></br>
		Currently all units are let, but we maintain a list of prospective tenants who are interested in moving to Pinkney Park. 
		</p>
	</div>
	<div class="container properties-wrapper">
		<div class="properties-boxes">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
		</div>
		<div class="properties-boxes">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
		</div>
	</div>
</div>

<!-- RESIDENTIAL PROPERTY PAGE -->
<div class="residential-page hidden">
	<div class="properties-buttons text-center">
		<div class="commercial-button text-center">
			<%= link_to "COMMERCIAL PROPERTY", "", class: "properties-button" %>
		</div>
		<div class="residential-button">
			<%= link_to "RESIDENTIAL PROPERTY", "", class: "properties-button-active" %>
		</div>
	</div>
	<div class="properties-border">
		<hr>
	</div>
	<div class="intro-text text-center container property-text">
		<h2>Residential Property</h2>
		<p>We have three Cotswold stone cottages ranging from 2 to 4 bedrooms and a 2 bedroom flat available to rent at Pinkney Park.
	 	<br></br>
		We currently have no vacancies but please do contact us if you would like to be informed of any change. 
		</p>
	</div>
	<div class="container properties-wrapper">
		<div class="properties-boxes">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
		</div>
		<div class="properties-boxes">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
		</div>
	</div>
</div>
<%= render 'shared/please_call' %>
