<%= render 'shared/navbar_main' %> 
<div class="banner-main">
</div>

<div class="green-line"></div>
<div class="intro-text text-center padded container">
	<h2>Stay at Pinkney</h2>
	<p>Situated in historic Cotswold stone buildings, we have up to 7 double guest bedrooms with 6 bathrooms at Pinkney Park and we feel sure you’ll have a very relaxing and comfortable stay with us.
	</p>
</div>
<div class="stay-wrapper">
	<div class="container">
		<div class="stay-boxes stay-box-row-1 text-center">
			<div class="stay-box">
				<div class="stay-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="stay-box-text">
					<h4>B&B</h4>
					<p>With its relaxed atmosphere, Pinkney is the perfect location to base yourselves and discover the beautiful surrounding countryside and Cotswold villages and towns of Wiltshire and Gloucestershire.</p>
				</div>
			</div>
			<div class="stay-box">
				<div class="stay-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="stay-box-text">
					<h4>Dining</h4>
					<p>Whilst bed and breakfast is our standard fare, we can offer a wide variety of dining options and will try where possible to cater to your needs whilst focusing on the use of local produce.<br></br></p>
				</div>
			</div>
			<div class="stay-box">
				<div class="stay-box-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
				</div>
				<div class="stay-box-text">
					<h4>Location</h4>
					<p>With its relaxed atmosphere, Pinkney is the perfect location to base yourselves and discover the beautiful surrounding countryside and Cotswold villages and towns of Wiltshire and Gloucestershire.</p>
				</div>
			</div>
		</div>
		<div class="stay-image text-center">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png") %>
		</div>
	</div>
</div>
<%= render 'shared/please_call' %>
